<div class="page">
  <div id="banner">
    <div id="images">
      <img id="img1" src="https://images.unsplash.com/photo-1650004437057-b2875a236787?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <img id="img2" src="https://images.unsplash.com/photo-1563492065599-3520f775eeed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" alt="">
      <img id="img3" src="https://images.unsplash.com/photo-1519451241324-20b4ea2c4220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
      <img id="img4" src="https://images.unsplash.com/photo-1599383848546-14ba43eb8e36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt="">
      <img id="img5" src="https://thumbs.dreamstime.com/b/bangkok-city-night-time-hotel-resident-area-capital-thailand-38543859.jpg" alt="">
      <img id="img6" src="https://images.unsplash.com/photo-1552465011-b4e21bf6e79a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1139&q=80" alt="">

      <h1 id="main_header">Embark on a thrilling trip to Thailand!</h1>
    </div>
  </div>

  <div id="cta_banner">
    <h1>Plan your trip now!</h1>
    <div id="cta">

      <div id="card1" class="card">
        <h4>1 WEEK PLAN</h4>
        <div id="list_div1" class="list_div">
          <ul class="list">
            <li> Short holiday
            </li>
            <li> Accommodation recommendations
            </li>
            <li> Local activities
            </li>
          </ul>
        </div>
        <a class="start" href="">GET STARTED</a>
      </div>

      <div id="card2" class="card">
        <H4>2 WEEK PLAN</H4>
        <div id="list_div2" class="list_div">
          <ul class="list" id="main_list">
            <li> 2 week getaway
            </li>
            <li> Flexible planning
            </li>
            <li> Accommodation recommendations
            </li>
            <li> Activity recommendations
            </li>
            <li> City hopping
            </li>
          </ul>
        </div>
        <a class="start" href="">GET STARTED</a>
      </div>

      <div id="card3" class="card">
        <H4>4 WEEK PLAN</H4>
        <div id="list_div3" class="list_div">
          <ul class="list">
            <li> Very flexible planning
            </li>
            <li> Accommodation recommendations
            </li>
            <li> Travel to other parts of Thailand
            </li>
          </ul>
        </div>
        <a class="start" href="">GET STARTED</a>
      </div>

    </div>
  </div>

  <div id="info_section">

    <div id="info1">
      <div id="image1"></div>
      <div class="para">
        <p>The Karen are a tribal group who have historically lived in the hills in Myanmar (formerly Burma) side of the Thai border. Best recognized for their elongated necks, the Karen women wear heavy brass rings around their necks, forearms, and shins. While the Karen men are mainly field workers and farmers, the women have a rich history of crafting from wood carving to weaving. </p>
        <a class="button" href="">FIND OUT MORE</a>
      </div>

    </div>

    <div id="info2">
      <div class="para">
        <p>On the outskirts of Bangkok, Safari World offers a drive-through range for seeing by car or one of the park’s coaches. Animal shows including a marine park, orangutan boxing and a cowboy stunt display are held daily. This is one of the many activities you can do in Thailand.</p>
        <a class="button" href="">FIND OUT MORE</a>
      </div>
      <div id="image2"></div>

    </div>

  </div>

  <footer>
    <div id="footer">
      <div id="footer_elements">
        <a href=""><h6>About</h6></a>
        <a href=""><h6>FAQ</h6></a>
        <a href=""><h6>Partners</h6></a>
        <a href=""><h6>Contact Us</h6></a>
      </div>
    </div>
  </footer>

</div>
