<div class="page">
  <div id="banner">
    <%# <a href="">
      <img src="thaigo.jpg" alt="logo">
    </a> %>
    <h1 id="main_header">Embark on a thrilling trip to Thailand!</h1>
  </div>

  <div id="cta_banner">
    <h1>Plan your trip now!</h1>
    <div id="cta">

      <div id="card1" class="card">
        <h3>1 WEEK PLAN</h3>
      </div>

      <div id="card2" class="card">
        <H3>2 WEEK PLAN</H3>
      </div>

      <div id="card3" class="card">
        <H3>4 WEEK PLAN</H3>
      </div>

    </div>
  </div>

  <div id="info_section">

    <div class="info">
      <img src="" alt="">
      <p>The Karen are a tribal group who have historically lived in the hills in Myanmar (formerly Burma) side of the Thai border. Best recognized for their elongated necks, the Karen women wear heavy brass rings around their necks, forearms, and shins. While the Karen men are mainly field workers and farmers, the women have a rich history of crafting from wood carving to weaving. </p>
      <a href="">FIND OUT MORE</a>

    </div>

    <div class="info">
      <img src="" alt="">
      <p>On the outskirts of Bangkok, Safari World offers a drive-through range for seeing by car or one of the park’s coaches. Animal shows including a marine park, orangutan boxing and a cowboy stunt display are held daily. This is one of the many activities you can do in Thailand.</p>
      <a href="">FIND OUT MORE</a>

    </div>

  </div>

  <div id="footer">
  </div>

</div>
