<div class="page">
  <div id="banner">
    <a href="">
      <img src="thaigo.jpg" alt="logo">
    </a>
    <h1 id="main_header">Embark on a thrilling trip to Thailand!</h1>
  </div>

  <div id="cta_banner">
  </div>

  <div id="info_section">
  </div>

  <div id="footer">
  </div>

</div>
